*{
	padding: 0px;
	margin: 0px;
}

body, html {
	height: 100%;
}

.landing {
	background-image: url('img/landing.jpg');
	min-height: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.banner1 {
	background-image: url('img/banner1.jpg');
	min-height: 60%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.logo {
	font-family: Lobster;
	color: #ffffff;
	font-size: 35px;
	margin-top: 5px;
}

.landingCTA {
	border: 1px solid #ffffff;
	padding: 12px 30px;
	border-radius: 5px;
	font-family: Lato;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 1.5px;
	background: rgba(255, 255, 255, 0);
	transition: background 0.3s ease;
	-webkit-transition: background 0.3s ease;
	text-decoration: none;
}

.landingCTA:hover {
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

.mainText {
	font-family: Montserrat;
	font-size: 25px;
	font-weight: bold;
	color: #FC7063;
}

.subText {
	font-family: Lato;
	font-size: 20px;
}

.sectionHeader {
	font-family: Montserrat;
	font-size: 27px;
	font-weight: bold;
	color: #555555;
}

@media (min-width: 900px) {
	.landingTitle {
		font-size: 40px;
		font-family: Montserrat;
	}
	.landingSubtitle {
		font-size: 25px;
		font-family: Lato;
	}
	.divide {
		border: 1px solid #dddddd;
		margin: 30px 50px;
	}
	.downloadImg {
		width: 40%;
	}
}

@media (min-width: 400px) and (max-width: 899px) {
	.landingTitle {
		font-size: 30px;
		font-family: Montserrat;
	}
	.landingSubtitle {
		font-size: 22px;
		font-family: Lato;
	}
	.divide {
		border: 1px solid #dddddd;
		margin: 30px 50px;
	}
	.downloadImg {
		width: 60%;
	}
}

@media (max-width: 399px) {
	.landingTitle {
		font-size: 20px;
		font-family: Montserrat;
	}
	.landingSubtitle {
		font-size: 16px;
		font-family: Lato;
	}
	.divide {
		border: 1px solid #dddddd;
		margin: 30px 25px;
	}
	.downloadImg {
		width: 80%;
	}
}

.featureIcon {
	font-size: 60px!important;
	color: #FC7063;
	border: 3px solid #FC7063;
	border-radius: 50%;
}

.featureText {
	font-family: Lato;
	font-size: 20px;
}

.footer {
	font-family: Lato;
	font-size: 15px;
	color: #FC7063;
}