:root {
	--main-blue: #1F4E78;
	--light-blue: #d4e3fa;
	--accent-orange: #ff9247;
	--accent-orange-light: #eba37c;
}

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Barlow Condensed;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

p, li {
	font-family: Mulish;
	font-size: 22px;
	line-height: 1.6;
}

ul {
	margin-left: 35px;
}

.navbar {
	width: 100%;
	height: 120px;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	background: var(--main-blue);
	color: #fff;
	font-family: Barlow Condensed;
	box-shadow: 2px 2px 4px 1px #111;
	transition: height 0.3s;
	z-index: 1;
}

.logo-img {
	height: 60px;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	transition: 0.3s;
}

nav a {
	text-decoration: none;
	color: inherit;
}

.nav-links-container {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 22px;
}

.nav-links {
	padding: 0px 10px;
	transition: color 0.3s;
	cursor: pointer;
}

.nav-links.active, .side-links.active {
	color: var(--accent-orange);
	font-weight: bold;
}

.nav-links:hover {
	color: var(--accent-orange-light);
}

.nav-link-small {
	padding: 0px 10px;
	color: var(--accent-orange);
	display: none;
}

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 2;
	background: var(--main-blue);
	color: #fff;
	box-sizing: border-box;
	display: none;
	padding: 40px 20px;
	width: 200px;
	box-shadow: 2px 2px 4px 1px #333;
	transition: margin-left 0.3s;
}

.sidebar .exit-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 14px;
}

.side-links {
	display: block;
	font: 22px Barlow Condensed;
	padding: 10px;
}

.landing {
	width: 100%;
	height: 65vh;
	position: relative;
}

.landing.top {
	margin-top: 80px;
}

.landing-img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.landing-img.home {
	background: url('./img/landing.jpg') center no-repeat;
	background-size: cover;
	filter: grayscale(0.5) brightness(0.6);
}

.landing-img.about {
	background: url('./img/landing-about.jpg') center no-repeat;
	background-size: cover;
	filter: brightness(0.6) sepia(0.4) hue-rotate(160deg);
}

.landing-content {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

.landing-content h3 {
	font-weight: normal;
}

.button {
	background: var(--accent-orange);
	color: #fff;
	padding: 10px;
	margin-top: 20px;
	display: inline-block;
	width: 120px;
	font-family: Barlow Condensed;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 1px 1px 4px 1px #333;
	transition: box-shadow 0.3s;
	text-decoration: none;
}

.button.wide {
	width: 200px;
}

.button:hover {
	box-shadow: 1px 1px 6px 2px #333;
}

.section {
	padding: 50px 150px;
	box-sizing: border-box;
}

.section.top {
	margin-top: 120px;
}

.section.white {
	background: #fff;
	color: #000;
}

.section.grey {
	background: #eee;
	color: #000;
}

.section.blue {
	background: var(--main-blue);
	color: #fff;
}

.section h2, .section h3 {
	color: var(--main-blue);
	text-align: center;
	font-weight: bold;
}

.section-content {
	padding: 20px 0px;
}

.para-cta {
	text-align: center;
	padding: 10px 0px;
}

.text-link {
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

.text-link:hover {
	color: var(--main-blue);
}

#home-intro {
	padding-top: 125px;
}

#home-products h3 {
	margin: 0.7em 0;
	text-decoration: none;
}

#hours-location div div {
	margin: 20px 0px;
}

#hours-location p {
	font-size: 19px;
}

#hours-location a {
	font-family: Barlow Condensed;
	font-size: 22px;
	font-weight: bold;
	color: var(--main-blue);
}

#footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#footer h4 {
	font-weight: normal;
	color: var(--accent-orange);
}

#footer a {
	font-size: 16px;
	color: #fff;
	display: block;
	font-family: Mulish;
	margin: 0.3em 0;
}

#footer a:hover {
	color: var(--light-blue);
}

#footer p {
	font-size: 16px;
}

#footer #copyright {
	display: block;
	width: 100%;
	text-align: center;
	margin: 60px 0px 0px 0px;
	color: var(--light-blue);
}

.col {
	display: inline-block;
	padding: 15px;
	box-sizing: border-box;
	vertical-align: top;
}

.col.third {
	width: 33%;
}

.col.half {
	width: 49.5%;
}

.col.two-third {
	width: 66%;
}

.col.quarter {
	width: 24.5%;
}

@media (max-width: 1200px) {
	.col.third {
		display: block;
		width: 500px;
		margin: 0 auto;
	}

	.col.two-third {
		display: block;
		width: 100%;
	}

	.col.quarter {
		width: 49.5%;
	}

	.section {
		padding: 50px 100px;
	}
}

@media (max-width: 900px) {
	.section {
		padding: 50px 50px;
	}

	.col.third {
		display: block;
		width: 400px;
		margin: 0 auto;
	}
}

@media (max-width: 800px) {
	.nav-links {
		display: none;
	}

	.nav-link-small {
		display: inline-block;
	}

	.sidebar {
		display: block;
	}

	.col.third {
		display: block;
		width: 300px;
		margin: 0 auto;
	}

	#footer {
		display: block;
	}

	#footer div {
		margin: 20px 0;
	}
}

@media (max-width: 550px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 25px;
	}

	h4 {
		font-size: 20px;
	}

	p {
		font-size: 20px;
	}

	.col.third {
		display: block;
		width: 100%;
	}

	.col.quarter {
		display: block;
		width: 100%;
	}

	.col.half {
		display: block;
		width: 100%;
	}
}