h1 {
	font-family: Open Sans;
	font-size: 40px;
	font-weight: 800;
}

h2 {
	font-family: Open Sans;
	font-size: 30px;
	font-weight: 800;
}

h3 {
	font-family: Open Sans;
	font-size: 25px;
	font-weight: 800;
}

h4 {
	font-family: Open Sans;
	font-size: 26px;
	font-weight: 800;
	line-height: 1.3;
}

h6 {
	font-family: Open Sans;
	font-size: 20px;
	letter-spacing: 1.2;
}

p, li {
	font-family: Merriweather;
	font-size: 17px;
}

hr {
	border-top: 1px solid #999;
}

.w3-top {
	z-index: 3!important;
}

#myNavbar {
	background: #4F2684;
	color: #CBBDDE;
	padding: 0px 20px;
}

#myNavbar .bars {
	color: #fff!important;
}

#logo {
	color: #fff;
}

#logoImg {
	padding: 8px 8px;
	margin-right: 8px;
}

.nav-item {
	text-decoration: none;
	font-size: 16px;
	transition: 0.3s;
	font-weight: bold;
	font-family: Montserrat;
	letter-spacing: 1.5px;
}

.nav-item.SM {
	padding: 20px 7px;
}

.nav-item:not(#logo):not(.SM){
	padding: 20px 15px!important;
}

.nav-contain:hover {
	color: #CBBDDE;
}

.nav-item:hover:not(#logo){
	color: #FFFFFF;
}

#mySidebar {
	background: #FFFFFF;
	color: #4F2684;
	transition: 0.4s;
}

#mySidebar span {
	margin-left: 32px;
}

.sidebar-x {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 15px;
}

.sidebar-item {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 8px 40px!important;
}

.sidebarHR {
	margin: 10px 50px 10px 40px;
	border-bottom: 2px solid #4F2684;
}

.sidebar-item.SM {
	display: inline-block;
	font-size: 17px;
	padding: 8px!important;
}

.headTextBig {
	font-family: Open Sans;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 1.3px;
	line-height: 1.4;
}

.headTextSmall {
	font-family: Open Sans;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1.3px;
	line-height: 1.4;
}

.button {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.2px;
	padding: 18px 24px;
	background: none;
	color: #FFFFFF;
	text-decoration: none;
	border: 3px solid #FFFFFF;
	border-radius: 30px;
	transition: 0.3s;
}

.button:hover {
	background: #FFFFFF;
	color: #4F2684;
}

.small-img {
	width: 50%;
}

.small-img.sq {
	width: 30%;
}

.active-nav {
	color: #fff;
}

.back-link {
	background: #b5b1ba;
	left: 0;
	top: 65px;
	position: fixed;
	padding: 7px 12px;
	border-radius: 0 0 10px 0;
	text-decoration: none;
	z-index: 2;
}

.back-link i {
	font-size: 10px;
}

.back-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.bgimg-1{
	background-image: url("../img/home/rautins-home.png");
}
.bgimg-2{
	background-image: url("../img/home/home.jpg");
}
#bgimg, .slides {
	/*animation: fade-in-out 6s infinite;*/
}

@keyframes fade-in-out {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.slideshow-dots {
	z-index: 2;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.slideshow-dots i {
	color: #fff;
	opacity: 0.6;
	font-size: 8px;
	padding: 0px 2px;
	transition: 0.3s;
}

.slideshow-dots i:hover, .slideshow-dots i.active {
	opacity: 1;
}

.newsletterLink p, h3 {
	margin: 0;
}

@media (min-width: 993px) {
	.container {
		margin: 0 10%;
	}
	.newsHeadImg {
		width: 70%;
	}

}
@media (max-width: 992px) {
	.container {
		margin: 0 5%;
	}
	.newsHeadImg {
		width: 100%;
	}
	.small-img {
		width: 80%;
	}
}

@media (max-width: 500px) {
	.pastEditions-filter button {
		display: block;
	}
	h1, h2 {
		line-height: 1.3;
		font-size: 22px;
	}
	p, li {
		font-size: 15px;
	}
}

.collapse {
	overflow:auto;
}
.newsletterLink {
	text-decoration: none;
	cursor: pointer;
}

.newsletterLink.mainLink {
	position: relative;
}

.newsletterLink.mainLink .newsletterHead {
	position: absolute;
	bottom: 25px;
	left: 35px;
	color: #fff;
}

.newsletterHead h2, p {
	margin: 0;
}

.newsletterLink img {
	filter: grayscale(30%);
	transition: 0.3s;
}

.newsletterLink.mainLink img {
	filter: brightness(60%) grayscale(0%);
}

.newsletterLink.mainLink h4 {
	font-size: 16px;
	font-weight: bold;
}

.newsletterLink:hover h2{
	color: #4F2684;
}

.newsletterLink.mainLink:hover h2 {
	color: #fff;
}

.newsletterLink h3 {
	line-height: 1.3;
	margin-top: 10px;
}

.newsletterLink:hover h3{
	color: #4F2684;
}

.newsletterLink:hover img{
	filter: none;
}

.newsletterLink.mainLink:hover img {
	filter: brightness(70%) grayscale(0%);
}

.pasteditions-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.pastEditions-filter {
	font-family: Merriweather;
}

.pastEditions-filter span {
	margin-right: 10px;
}

.pastEditions-filter button {
	font-family: Open Sans;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0px 5px;
	outline: none;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.3s;
}

.pastEditions-filter button.active {
	background: #4F2684;
	color: #FFF;
}

.pastEditions-filter button:hover:not(.active) {
	background: #ccc;
}

.button2 {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.2px;
	padding: 12px 20px;
	background: #4F2684;
	color: #FFFFFF;
	text-decoration: none;
	border: 3px solid #4F2684;
	border-radius: 30px;
	transition: 0.3s;
}

.button2:hover {
	background: #7444b3;
	border: 3px solid #7444b3;
	cursor: pointer;
}

.button3 {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.2px;
	padding: 12px 20px;
	background: transparent;
	color: #4F2684;
	text-decoration: none;
	border: 3px solid #4F2684;
	border-radius: 30px;
	transition: 0.3s;
}

.button3:hover {
	background: #4F2684;
	color: #FFF;
	cursor: pointer;
}

.sqContainer {
	transition: 0.5s;
	padding: 5px;
}

.sqContainer:hover {
	opacity: 0.8;
}

.sqlink {
	color: white;
}

.text-link {
	font-family: Merriweather;
	font-size: 17px;
	text-decoration: underline;
	transition: 0.5s;
	cursor: pointer;
}

.text-link:hover {
	color: #4F2684;
	font-weight: bold;
}

.icon-link {
	transition: 0.3s;
}

.icon-link:hover {
	color: #4f2684;
}

.hotLink h4 {
	transition: 0.3s;
}

.hotLink:hover h4{
	color: #4f2684;
	cursor: pointer;
}

.footerHR {
	margin: 1em 70px;
	border-bottom: 1px solid #777;
}

.SMLink {
	font-size: 20px;
	padding: 5px;
	text-decoration: none;
	transition: 0.3s;
}

.SMcontain:hover {
	color: #999;
}

.SMLink:hover {
	color: #fff;
	cursor: pointer;
}
